
#login .container #login-row #login-column #login-box {
  margin-top: 120px;
  margin-bottom: 120px;
  max-width: 600px;
  max-height: 390px;
  border: 1px solid #9C9C9C;
  background-color: #EAEAEA;
}
#login .container #login-row #login-column #login-box #login-form {
  padding: 20px;
}
#login .container #login-row #login-column #login-box #login-form #register-link {
  margin-top: -10px;
  margin-bottom: 10px;
}


.author{

  font-size: 12px;
  color: darkgrey;
  text-decoration: none;
  letter-spacing: .15em;
  font-weight: 400;

}




.product-card .persist {
  z-index: 10;
}

.product-card .card-footer {
  background: white;
}


.product-price-badge {
  font-size: 45%;
  padding: .5em;
}


.badge{
  font-weight: 400;
  background-color: darkorange;


}

.badge-rounded{
  border-radius: 100px;
}


.newbadge{
  font-weight: 400;
  background-color: darkorange;


}


.custom_button{
  font-size: 11px;
  color: darkorange;
  text-decoration: none;
  letter-spacing: .2em;
  font-weight: 400;
  text-transform: uppercase;
}


.listings_img{
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 20px;
}

a.navbar-brand.ml-0:hover{
  color: antiquewhite;
}


/* triple-striped  */

.triple-striped-heading {
  position: relative;
  font-size: 1em;
  margin-top: 1.813em;
  margin-bottom: 1.875em;
}

.triple-striped-heading .heading {
  display: inline-block;
  position: relative;
  font-size: 1.125em;
  color: #4d4d4d;
  text-transform: uppercase;
  letter-spacing: .063em;
  background-color: #fff;
  padding-right: 5px;
  z-index: 1;
}

.triple-striped-heading .title {
  display: inline-block;
  position: relative;
  font-size: 1.125em;
  color: #4d4d4d;
  text-transform: uppercase;
  letter-spacing: .063em;
  background-color: #fff;
  padding-right: 5px;
  z-index: 1;
}

.triple-striped-heading .outer-stripes {
  display: block;
  width: 100%;
  border-top: solid 1px #db0046;
  border-bottom: solid 1px #db0046;
  position: absolute;
  height: 11px;
  top: 4px;
}

.triple-striped-heading .inner-stripe {
  display: block;
  height: 1px;
  width: 100%;
  border-top: solid 1px #db0046;
  top: 4px;
  position: absolute;
}



/* triple-striped-black  */

.triple-striped-black-heading {
  position: relative;
  font-size: 1em;
  margin-top: 1.813em;
  margin-bottom: 1.875em;
}

.triple-striped-black-heading .heading {
  display: inline-block;
  position: relative;
  font-size: 1em;
  color: #4d4d4d;
  text-transform: uppercase;
  letter-spacing: .063em;
  background-color: #fff;
  padding-right: 5px;
  z-index: 1;
}

.triple-striped-black-heading .title {
  display: inline-block;
  position: relative;
  font-size: 1em;
  color: #4d4d4d;
  text-transform: uppercase;
  letter-spacing: .063em;
  background-color: #fff;
  padding-right: 5px;
  z-index: 1;
}

.triple-striped-black-heading .outer-stripes {
  display: block;
  width: 100%;
  border-top: solid 1px #4d4d4d;
  border-bottom: solid 1px #4d4d4d;
  position: absolute;
  height: 11px;
  top: 4px;
}

.triple-striped-black-heading .inner-stripe {
  display: block;
  height: 1px;
  width: 100%;
  border-top: solid 1px #4d4d4d;
  top: 4px;
  position: absolute;
}



/* tabs */



/*.nav-tabs .nav-link {*/
    /*border: 1px solid transparent;*/
    /*border-top-left-radius: .25rem;*/
    /*border-top-right-radius: .25rem;*/
/*}*/

.timetable {


  border-color: #222222;

}

.timetable a {
  text-decoration: none;
  color: darkorange;
  font-size: .8em;
  letter-spacing: .063em;
  text-transform: uppercase;
}

.timetable li {
  background-color: #fff0f7;
  border-color: #222222;
  /*border-radius: 5px;*/

}



.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}


/*#navbar-poop > a:hover, a:visited, a:link, a:active {*/
    /*text-decoration: none;*/
    /*color: darkorange;*/
/*}*/



@media (min-width:768px) {
  .triple-striped-heading .heading {
    font-size: 1.25em;
    padding-right: 5px;
  }

  .triple-striped-heading .outer-stripes {
    height: 15px;
  }

  .triple-striped-heading .inner-stripe {
    top: 6px;
  }
}

.heading-centred {
  text-align: center;
}

.heading-centred .heading {
  padding-left: 7px;
}

.heading-centred-no-bg {
  top: 0;
  width: 250px;
  text-align: center;
  margin: 0 auto;
}






/* triple-striped-big  */

/*.triple-striped-heading {*/
  /*position: relative;*/
  /*font-size: 1em;*/
  /*margin-top: 2.813em;*/
  /*margin-bottom: 1.875em;*/
/*}*/

/*.triple-striped-heading .heading {*/
  /*display: inline-block;*/
  /*position: relative;*/
  /*font-size: 1.125em;*/
  /*color: #4d4d4d;*/
  /*text-transform: uppercase;*/
  /*letter-spacing: .063em;*/
  /*background-color: #fff;*/
  /*padding-right: 5px;*/
  /*z-index: 1;*/
/*}*/

/*.triple-striped-heading .outer-stripes {*/
  /*display: block;*/
  /*width: 100%;*/
  /*border-top: solid 1px #db0046;*/
  /*border-bottom: solid 1px #db0046;*/
  /*position: absolute;*/
  /*height: 11px;*/
  /*top: 4px;*/
/*}*/

/*.triple-striped-heading .inner-stripe {*/
  /*display: block;*/
  /*height: 1px;*/
  /*width: 100%;*/
  /*border-top: solid 1px #db0046;*/
  /*top: 4px;*/
  /*position: absolute;*/
/*}*/



