{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}


    <section class="section-profile">
      <div class="container text-center">
        <div class="row">
          <div class="col-md-3 col-12">
            <div class="pray">
              <img src="{{ user.employer.profile_image.url }}" alt="Pray" class="" />
            </div>
              <button class="mt-2 btn btn-outline-danger btn-sm "  data-toggle="modal" data-target="#profileImageModal" >Change Image</button>
          </div>
          <div class="col-md-9 col-12">
            <div class="panel text-left">
            <div class="row">
              <div class="col-12 mb-1">
                  <a class="float-right btn btn-sm btn-outline-info" data-toggle="modal" data-target="#employerProfileModal">Edit / Add Company Profile</a>
              </div>
          </div>
              <h1>{{ user.first_name | capfirst}} {{ user.last_name | capfirst }}</h1>




                <div class="row">
                {% if user.employer.is_company %}
                    <div class="col-md-6">
                        <i class="fas fa-map-marker-alt"></i>
                        {% if user.employer.company_name == None %}
                            Company Name
                        {% else %}
                            {{ user.employer.company_name }}
                        {% endif %}

                    </div>
                {% endif %}


                    <div class="col-md-6">

                         contact :  {{ user.employer.mobile }}

                    </div>
                </div>
            {% if user.employer.is_company %}
                <div class="row">
                    <div class="col-md-12">
                        {% if user.employer.company_email == None %}
                            Company Email
                        {% else %}
                            {{ user.employer.company_email }}
                        {% endif %}

                    </div>



                </div>
                <div class="row">
                    <div class="col-md-12">
                         Add profile to  Directory :
                        {% if user.employer.is_company == True %}
                            <button class="btn btn-success btn-sm py-0" >Profile Visible</button>
                        {% else %}
                            <button class="btn btn-danger btn-sm py-0 " >Profile Not Visible</button>
                        {% endif %}

                    </div>


                </div>

            {% endif %}


            </div>
          </div>
        </div>
      </div>
    </section>

            <section class="section-2 container-fluid p-0">
      <div class="cover">
        <div class="overlay"></div>
        <div class="content text-center">
          <h1>Some Features That Make Us Unique</h1>
          <p>
            Looking for a dance teacher or a dancer why not List your jobs below
          </p>
        </div>
      </div>
      <div class="container-fluid text-center">
        <div class="numbers d-flex flex-md-row flex-wrap justify-content-center">
          <div class="rect">
            <h1>{{ adverts_count }}</h1>
            <p>Jobs</p>
          </div>
          <div class="rect">
            <h1>{{ postings_count }}</h1>
            <p>Job Postings</p>
          </div>
          <div class="rect">
            <h1>1056</h1>
            <p>Rating</p>
          </div>
          <div class="rect">
            <h1>9152</h1>
            <p>Total Projects</p>
          </div></div></div>
        <div class="container-fluid text-center">
        <div class="mt-1 numbers d-flex flex-md-row flex-wrap justify-content-center">
        <div class="rect-2">
            <img src="{{ user.employer.profile_image.url }}" alt="Pray" style="height: 100px; width: 100px" />
          </div>


        </div>
      </div>



         <div class="container text-center">
        <div class="row">
          <div class="col-md-12 col-12">

            <div class="panel text-left">
              <h3>Company Info <i type="button" style="font-size: 22px;" class="text-danger fas fa-pen" data-toggle="modal" data-target="#companyModal"  > </i></h3>

                {% if user.employer.company_info == None %}
                   <p class="text-danger">
                   If you are a dance company / casting agent and want your profile to be visible add some info about you !!!

                   </p>
                {% else %}
                    <p>
                        {{ user.employer.company_info | linebreaks }}
                    </p>
                {% endif %}


            </div>
          </div>
        </div>
      </div>







            <div class="container text-center">
        <div class="row">
            <div class="col-md-12 col-12">
                <div class="panel ">


<!-- Call to action -->
          <div class="my-1" data-url="#">
            <div class="pos-relative">
              <i class="fas fa-bullseye icon-bg op-1 icon-bg-l-ol icon-25x text-white"></i> <i class="fa fa-bullseye icon-bg op-1 icon-bg-r-ol icon-bg-b icon-25x text-white"></i>
              <div class="p-2 text-center bg-danger">
                <h2 class="display-4 font-weight-normal text-uppercase text-white my-0 text-slab">
                  Clearance Sale
                </h2>
                <h4 class="text-white mb-0 text-slab">
                  Price reductions on 1000s of items!
                </h4>
              </div>
            </div>
          </div>




                </div>
            </div>
        </div>
            </div>














      <div class="purchase text-center">
        <h1>Your Jobs  Postings and Venues Listings</h1>

      <div class="row">

            <div class="col-9 mx-auto">
                <p>
          Ps note Jobs are long term and postings are for a  specific day and time !!!!
        </p>

                <a class="btn btn-outline-info float-right py-1 " href="{% url 'create-posting' %}">Create Posting</a>
                <a class="btn btn-outline-info float-left py-1 " href="{% url 'create-advert' %}">Create Job</a>
                <a class="btn btn-outline-info  py-1 " href="{% url 'add-venue' %}">Add Venue</a>
            </div>
        </div>







      <div class="container text-center mt-3">
        <div class="row">
            <div class="col-md-12 col-12">
                <div class="panel ">

                    {% if request.user.is_authenticated %}
                        {% if request.user.is_employer %}
                            <div class="row">
                                <div class="col-12 mb-2">
                                    <a class="btn btn-outline-info float-right custom_button" href="{% url 'create-advert' %}">List Job</a>
                                </div>
                            </div>
                        {% endif %}
                    {% endif %}

                <h1 class="triple-striped-heading heading-centred">
                    <span class="title pl-1">Your Dance Jobs</span>
                    <span class="outer-stripes">
                        <span class="inner-stripe"></span>
                    </span>
                </h1>


                    <table class="table table-striped">
                      <thead>
                        <tr>
                          <th class="table_h" scope="col">Published</th>
                          <th class="table_h" scope="col">Title</th>
                          <th class="table_h" scope="col">City</th>
                          <th class="table_h" scope="col"> </th>

                        </tr>
                      </thead>
                      <tbody>
                      {% for advert in adverts %}

                          <tr>
                              <th class="table_p" scope="row"><a href="{% url 'advert-detail' advert.id advert.slug %}" >{{ advert.created | date:'d M ' }}</a></th>
                                <td class="table_p">{{ advert.title }} </td>
                                <td class="table_p">{{ advert.location }} </td>
                                <td class="table_p"><a class="btn btn-outline-info  custom_button my-1" href="{% url 'edit-advert' advert.pk advert.slug  %}">Edit</a>
                                    <a class="btn btn-outline-info  custom_button my-1" href="{% url 'delete2-advert-button' advert.pk advert.slug  %}">Delete</a>
                                </td>
                            </tr>
                        {% endfor %}

                      </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>


     <div class="container text-center mt-3">
        <div class="row">
            <div class="col-md-12 col-12">
                <div class="panel ">

                    {% if request.user.is_authenticated %}
                        {% if request.user.is_employer %}
                            <div class="row">
                                <div class="col-12 mb-2">
                                    <a class="btn btn-outline-info float-right custom_button" href="{% url 'create-posting' %}">List Posting</a>
                                </div>
                            </div>
                        {% endif %}
                    {% endif %}

                <h1 class="triple-striped-heading heading-centred">
                    <span class="title pl-1">Your Dance Postings</span>
                    <span class="outer-stripes">
                        <span class="inner-stripe"></span>
                    </span>
                </h1>


                    <table class="table table-striped">
                      <thead>
                        <tr>
                          <th class="table_h" scope="col">Title</th>
                          <th class="table_h" scope="col">City</th>
                          <th class="table_h" scope="col">Posting Date</th>
                          <th class="table_h" scope="col"> </th>

                        </tr>
                      </thead>
                      <tbody>
                      {% for posting in postings %}

                          <tr>
                              <th class="table_p" scope="row"><a href="{% url 'posting-detail' posting.id posting.slug %}" >{{ posting.title }}</a></th>
                                <td class="table_p">{{ posting.location }} </td>
                                <td class="table_p"> {{ posting.date | date:'D d M ' }} </td>
                                <td class="table_p"><a class="btn btn-outline-info  custom_button my-1" href="{% url 'edit-posting' posting.pk posting.slug  %}">Edit</a>
                                    <a class="btn btn-outline-info  custom_button my-1" href="{% url 'delete2-advert-button' posting.pk posting.slug  %}">Delete</a>
                                </td>
                            </tr>

                        {% endfor %}

                      </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

























      </div>
    </section>




         <!-- Modal Profile-->
<div class="modal fade" id="profileImageModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Change Profile Image</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <form action="{% url 'update-company-photo' employer.id %}" method="POST"  enctype="multipart/form-data">
              {% csrf_token %}
              {{ employer_image_form | crispy }}

              <div class="modal-footer">
        <button type="button" class="btn btn-sm btn-outline-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-sm btn-outline-primary">Save</button>
      </div>
          </form>
      </div>

    </div>
  </div>
</div>





        <!-- Modal Date of Birth -->
<div class="modal fade" id="employerProfileModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Update Company Profile</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

          <form action="{% url 'update-company-profile' employer.id %}" method="POST" >
              {% csrf_token %}
              {{ employer_update_form | crispy }}
              <div class="modal-footer">
        <button type="button" class="btn btn-sm btn-outline-secondary" data-dismiss="modal">Cancel</button>
        <button type="submit" class="btn btn-sm btn-outline-success">Update</button>
      </div>
          </form>
      </div>

    </div>
  </div>
</div>



{#    <!-- Modal Experience-->#}
{#<div class="modal fade" id="locationModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">#}
{#  <div class="modal-dialog modal-dialog-centered" role="document">#}
{#    <div class="modal-content">#}
{#      <div class="modal-header">#}
{#        <h5 class="modal-title" id="exampleModalLongTitle">Edit Location</h5>#}
{#        <button type="button" class="close" data-dismiss="modal" aria-label="Close">#}
{#          <span aria-hidden="true">&times;</span>#}
{#        </button>#}
{#      </div>#}
{#      <div class="modal-body">#}
{#          <form action="{% url 'update-location' candidate.id %}" method="POST" >#}
{#              {% csrf_token %}#}
{#              <select name="candidate_location" class="form-control">#}
{#                <option> Location</option>#}
{#                {% for key, value in location_choices %}#}
{#                    <option value="{{ key }}">{{ value }}</option>#}
{#                {% endfor %}#}
{#              </select>#}
{#              <div class="modal-footer">#}
{#        <button type="button" class="btn btn-sm btn-outline-secondary" data-dismiss="modal">Close</button>#}
{#        <button type="submit" class="btn btn-sm btn-outline-primary">Save</button>#}
{#      </div>#}
{#          </form>#}
{#      </div>#}
{##}
{#    </div>#}
{#  </div>#}
{#</div>#}


    <!-- Modal -->
<div class="modal fade" id="companyModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Edit Company Info</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <form action="{% url 'update-company-info' employer.pk %}" method="POST" >
              {% csrf_token %}
              <textarea name="company_info" id="" cols="40" rows="10">{{ employer.company_info }}</textarea>
              <div class="modal-footer">
        <button type="button" class="btn btn-sm btn-outline-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-sm btn-outline-primary">Save</button>
      </div>
          </form>
      </div>

    </div>
  </div>
</div>




{#    <!-- Modal Experience-->#}
{#<div class="modal fade" id="experienceModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">#}
{#  <div class="modal-dialog modal-dialog-centered" role="document">#}
{#    <div class="modal-content">#}
{#      <div class="modal-header">#}
{#        <h5 class="modal-title" id="exampleModalLongTitle">Edit Experience</h5>#}
{#        <button type="button" class="close" data-dismiss="modal" aria-label="Close">#}
{#          <span aria-hidden="true">&times;</span>#}
{#        </button>#}
{#      </div>#}
{#      <div class="modal-body">#}
{#          <form action="{% url 'candidate-experience' candidate.id %}" method="POST" >#}
{#              {% csrf_token %}#}
{#              <textarea name="experience" id="" cols="55" rows="10">{{ candidate.experience }}</textarea>#}
{#              <div class="modal-footer">#}
{#        <button type="button" class="btn btn-sm btn-outline-secondary" data-dismiss="modal">Close</button>#}
{#        <button type="submit" class="btn btn-sm btn-outline-primary">Save</button>#}
{#      </div>#}
{#          </form>#}
{#      </div>#}
{##}
{#    </div>#}
{#  </div>#}
{#</div>#}


{#       <!-- Modal Experience-->#}
{#<div class="modal fade" id="photosModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">#}
{#  <div class="modal-dialog modal-dialog-centered" role="document">#}
{#    <div class="modal-content">#}
{#      <div class="modal-header">#}
{#        <h5 class="modal-title" id="exampleModalLongTitle">Edit Photos</h5>#}
{#        <button type="button" class="close" data-dismiss="modal" aria-label="Close">#}
{#          <span aria-hidden="true">&times;</span>#}
{#        </button>#}
{#      </div>#}
{#      <div class="modal-body">#}
{#          {% for photo in photos %}#}
{#              <div class="row">#}
{#              <div class="col-6 mb-2"> <img src="{{ photo.profile_image.url }}"  style="height: 100px; width: 100px" alt=""></div>#}
{#              <div class="col-6 mb-2"> <a href="{% url 'delete-photos' photo.pk %}" class="btn btn-outline-danger">Delete</a></div>#}
{##}
{#              </div>#}
{##}
{##}
{##}
{#          {% endfor %}#}
{##}
{##}
{#      </div>#}
{##}
{#    </div>#}
{#  </div>#}
{#</div>#}




{#    <div class="modal fade" id="addPhotoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">#}
{#  <div class="modal-dialog modal-dialog-centered" role="document">#}
{#    <div class="modal-content">#}
{#      <div class="modal-header">#}
{#        <h5 class="modal-title" id="exampleModalLongTitle">Add Photo</h5>#}
{#        <button type="button" class="close" data-dismiss="modal" aria-label="Close">#}
{#          <span aria-hidden="true">&times;</span>#}
{#        </button>#}
{#      </div>#}
{#      <div class="modal-body">#}
{#          <form action="{% url 'add-photos' %}" method="POST" enctype="multipart/form-data">#}
{#              {% csrf_token %}#}
{#              {{ form | crispy }}#}
{#              <input type="submit" value="Add Photo" class="btn btn-sm btn-outline-info">#}
{#          </form>#}
{#      </div>#}
{##}
{#    </div>#}
{#  </div>#}
{#</div>#}
{##}
{##}
{##}




{% endblock %}