{% extends 'base.html' %}
{% block content %}


    <main>


        <section class="section-9">


      <div class="container text-center">
        <div class="row">
          <div class="col-md-11 col-12 mx-auto">
            <div class="panel">

             <div class="bg-white shadow rounded overflow-hidden">
            <div class="px-4 pt-0 pb-2 newbadge">
                <div class="media align-items-end profile-header">
                    <div class="media-body mt-3 text-white">
                        <h4 class="text-center mt-0 mb-0 main_title">Search Employers</h4>
                    </div>
                </div>
            </div>
                <div class="bg-info text-center">
      <div class="p-5">
        <div class="overlay p-1">

          <div class="search">
            <form action="{% url 'search-employer' %}">
              <!-- Form Row 1 -->
              <div class="form-row">
                <div class="col-md-12 mb-3">
                  <label class="sr-only">Keywords</label>
                  <input type="text" name="keywords" class="form-control" placeholder="Company name">
                </div>




              </div>
              <!-- Form Row 2 -->

              <button class="btn btn-secondary btn-block mt-4 custom_button" type="submit">Submit form</button>
            </form>
          </div>
        </div>
      </div>
    </div>



            </div>
          </div>
        </div>
      </div>
      </div>
    </section>


        <section class="section-1">
  <div id="content" class="">

    <div class="container">
      <div class="row">
        <!-- Products grid -->
        <div class="col-lg-12">
          <!-- Products filters -->





        <div class="container-fluid mt-4">
    <div class="row">
        {% for employer in employers %}
        <div class="col-auto mb-3">
            <div class="card" style="width: 12rem;">
                <img class="card-img-top" style="height: 200px" src="{{ employer.profile_image.url }}" alt="Card image cap">
                <div class="card-body pb-0">
                    <a href="{% url 'employer-detail' employer.pk employer.user.username %}">
                    {% if employer.company_name is None %}
                        <h5 class="text-center img_title ">{{ employer.user.first_name |capfirst }} </h5></a>
                    {% else %}
                        <h5 class="text-center img_title ">{{ employer.company_name |capfirst }} </h5></a>
                    {% endif %}
{#                  <p class="tiny text-muted text-center mb-0 py-1">{{ talent.candidate_location }}</p>#}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>























          <!-- Call to action -->
          <div class="my-3" data-url="#">
            <hr class="hr-lg mt-0 mb-1 w-100 mx-auto hr-warning" />
            <div class="pos-relative">
              <i class="fa fa-bullseye icon-bg op-1 icon-bg-l-ol icon-25x text-white"></i> <i class="fa fa-bullseye icon-bg op-1 icon-bg-r-ol icon-bg-b icon-25x text-white"></i>
              <div class="p-4 text-center bg-danger">
                <h2 class="display-4 font-weight-normal text-uppercase text-white my-0 text-slab">
                  Clearance Sale
                </h2>
                <h4 class="text-white mb-0 text-slab">
                  Price reductions on 1000s of items!
                </h4>
              </div>
            </div>
            <hr class="hr-lg mt-1 w-100 mx-auto hr-danger" />
          </div>
          <!-- Pagination -->
          <nav aria-label="Page navigation">
              {% if postings.has_other_pages %}
            <ul class="pagination pagination-lg justify-content-center">
            {% if postings.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ postings.previous_page_number }}" aria-label="Previous"> <span aria-hidden="true">&laquo;</span> <span class="sr-only">Previous</span> </a>
                </li>
            {% else %}

                <li class="page-item disabled">
                    <a class="page-link"  aria-label="Previous"> <span aria-hidden="true">&laquo;</span> <span class="sr-only">Previous</span> </a>
                </li>

            {% endif %}

            {% for i in postings.paginator.page_range %}
                {% if postings.number == i %}
                    <li class="page-item active">
                        <a class="page-link" >{{ i }}</a>
                    </li>
                {% else %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ i }}">{{ i }}</a></li>

                {% endif %}
            {% endfor %}
            {% if postings.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ postings.next_page_number }}" aria-label="Previous"> <span aria-hidden="true">&raquo;</span> <span class="sr-only">Previous</span> </a>
                </li>
            {% else %}

                <li class="page-item disabled">
                    <a class="page-link"  aria-label="Next"> <span aria-hidden="true">&raquo;</span> <span class="sr-only">Next</span> </a>
                </li>

            {% endif %}
            </ul>
              {% endif %}
          </nav>
        </div>








      </div>
    </div>
  </div>








        </section>
    </main>



{% endblock %}