{% extends 'base.html' %}
{% load static %}
{% block content %}

    <main>

    {% include 'partials/_alerts.html' %}


    <section class="section-profile">
      <div class="container text-center">
        <div class="row">
          <div class="col-md-3 col-12">
            <div class="pray">
              <img src="{{ talent.profile_image.url }}" alt="Pray" class="" />
            </div>
          </div>
          <div class="col-md-9 col-12">
            <div class="panel text-left">
              <h1>{{ talent.user.first_name | capfirst}} {{ talent.user.last_name | capfirst }}</h1>

                <div class="row">
                    <div class="col-6">
                        <i class="fas fa-map-marker-alt"></i>

                            {{ talent.candidate_location }}

                    </div>
                    <div class="col-6">

                         DOB :   {{ talent.date_of_birth }}

                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-12">
                        <a class="btn  btn-sm btn-info text-white" data-toggle="modal" data-target="#compose-modal"><i class="fa fa-pencil"></i>Message {{ talent.user.first_name | capfirst }}</a>


                    </div>
                </div>


            </div>
          </div>
        </div>
      </div>
    </section>

            <section class="section-2 container-fluid p-0">
      <div class="cover">
        <div class="overlay"></div>
        <div class="content text-center">
          <h1>Some Features That Made Us Unique</h1>
          <p>
            Find Your Dance Instructor the easy way
          </p>
        </div>
      </div>
      <div class="container-fluid text-center">
        <div class="numbers d-flex flex-md-row flex-wrap justify-content-center">
          <div class="rect-3">
            <h1>{{ average_reviews }}</h1>
            <p>Rating / 10</p>
          </div>
          <div class="rect">
            <h1>{{ candidate_reviews.count }}</h1>
            <p>Total Reviews</p>
          </div>
          <div class="rect">
            <h1>1056</h1>
            <p>Tickets Submitted</p>
          </div>
          <div class="rect">
            <h1>9152</h1>
            <p>Total Projects</p>
          </div>
        </div>
      </div>
        <div class="container-fluid text-center">
        <div class="mt-1 numbers d-flex flex-md-row flex-wrap justify-content-center">
        <div class="rect-2">
            <a href="{{ talent.profile_image.url }}" data-lightbox="profile-images">
                <img src="{{ talent.profile_image.url }}" alt="Pray" style="height: 100px; width: 100px" /></a>
          </div>
            {% for image in candidate_photos %}
                <div class="rect-2">
                <a href="{{ image.profile_image.url }}" data-lightbox="profile-images">
                    <img src="{{ image.profile_image.url }}" alt="Pray" style="height: 100px; width: 100px" /></a>
                  </div>
            {% endfor %}

        </div>
      </div>


         <div class="container text-center">
        <div class="row">
          <div class="col-md-12 col-12">
            <div class="panel text-left mb-3">
              <h3>Bio</h3>
                <p>
                    {{ talent.bio | linebreaks }}
                </p>

                <h3>Experience</h3>
                <p>
                    {{ talent.experience |linebreaks }}
                </p>




            </div>
          </div>
        </div>
      </div>

    </section>


    <section class="section-5">
         <div class="container text-center">
        <div class="row">
          <div class="col-md-12 col-12">
            <div class="panel text-left mb-3">
              <h4 class="text-center lead">Add Review</h4>

                <form action="{% url 'add-candidate-review' talent.pk %} " method="POST">
                    {% csrf_token %}
                    <label for="comment">Review</label>
                    <textarea name="comment" id="comment" cols="30" rows="5" class="form-control" required ></textarea> <br>
                    <label for="rating">Rating</label>
                    <input type="range" id="rangeInput" name="rating"
                           min="0" max="10" value="0" step="0.5" oninput="amount.value=rangeInput.value" required>
                    <output name="amount" id="amount" for="rangeInput">0</output>

                    <br>
                    <input type="submit" class="btn btn-danger" value="Add Review">
                </form>

                <hr>



                        {% for review in candidate_reviews %}
                            <div class="card mb-2 p-0">
                                <div class="card-body pt-2 pb-0" style="background-color: #fdf4f4">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <h6 class="text-left">{{ review.author.username }}</h6>
                                            <h6 class="text-danger">{{ review.rating }}</h6>
                                            {% if request.user == review.author %}
                                            <a class="mb-2 py-0 btn  btn-sm btn-outline-info text-info" href="{% url 'edit-candidate-review' review.candidate_id review.pk %}">Edit Review</a>
                                            {% endif %}
                                        </div>
                                        <div class="col-md-9">
                                            <p>{{ review.comment | linebreaks }}</p> <br>

                                        </div>
                                    </div>
                                </div>

                            </div>
                        {% endfor %}







            </div>
          </div>
        </div>
      </div>
    </section>


    <!-- END INBOX CONTENT -->

					<!-- BEGIN COMPOSE MESSAGE -->
        <div class="modal fade" id="compose-modal" role="dialog">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="inquiryModalLabel">Make An Inquiry</h5>
                  <button type="button" class="close" data-dismiss="modal">
                    <span>&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <form action="{% url 'mail:new-message' %}" method="POST">
                      {% csrf_token %}
                    <div class="form-group">
                      <label for="property_name" class="col-form-label">Title</label>
                      <input type="text" name="title" class="form-control" value="" >
                    </div>

                    <div class="form-group">
                      <label for="name" class="col-form-label">Sender:</label>
                      <input type="text" name="name" class="form-control" value="{{ request.user }}" >
                    </div>
                    <div class="form-group">
                      <label for="name" class="col-form-label">Recipient:</label>
                      <input type="text" name="recipient" class="form-control" value="{{ talent.user.id }}" >
                    </div>

                    <div class="form-group">
                      <label for="message" class="col-form-label">Message:</label>
                      <textarea name="content" class="form-control"></textarea>
                    </div>
                    <hr>
                    <input type="submit" value="Send" class="btn btn-block btn-secondary">
                  </form>
                </div>
              </div>
            </div>
          </div>
{#					<!-- END COMPOSE MESSAGE -->#}






</main>



{% endblock %}