@media only screen and (max-width: 768px) {
  header .navbar-brand {
    padding-left: 1rem;
  }
  .section-1 .row .col-md-6 .panel {
    position: initial;
    width: initial;
    height: initial;
  }
  .section-2 .cover {
    background-position: -25vmin -10vmin;
  }
  .numbers .rect {
    width: 10rem;
    height: 8rem;
  }
  .numbers .rect h1 {
    font-size: 2rem;
  }

  .numbers .rect-3 {
    width: 10rem;
    height: 8rem;
  }

  .numbers .rect-3 h1 {
    font-size: 2rem;
  }

  .section-3 {
    height: inherit;
    padding: 10vmin !important;
  }
  .section-3 .row h1 {
    padding: 6vmin 4vmin;
  }
  .section-3 .platform .col-md-6 {
    text-align: center !important;
  }
  .section-3 .desktop i {
    font-size: 8vmin;
  }
  .section-4 .carousel-item {
    padding-left: 0.6rem;
  }
  .section-profile .row .col-md-9 .panel {
    position: initial;
    width: initial;
    height: initial;
    left: 10vmin;
    margin-top: 3vmin;

  }


  /*.section-profile .row .col-md-9 .panel {*/
    /*position: absolute;*/
    /*top: 7vmin;*/
    /*left: -10vmin;*/
    /*width: 80vmin;*/
    /*background: white;*/
    /*border-radius: 3px;*/
    /*text-align: left;*/
    /*padding: 5vmin 5vmin 10vmin 10vmin;*/
    /*box-shadow: 0px 25px 42px rgba(0, 0, 0, 0.2);*/
    /*font-family: var(--Rubik);*/
    /*z-index: 1;*/
  /*}*/

    .section-mail .row .col-md-9 .panel {
    position: initial;
    width: initial;
    height: initial;
    left: 10vmin;
    margin-top: 3vmin;

  }



  footer .row .col-md-2 {
    margin-top: 8vmin;
  }
}

/* screen size 375px */

@media only screen and (max-width: 375px) {
  .section-4 .card {
    width: 18em;
  }
}

@media only screen and (max-width: 320px) {
  .section-4 .carousel-inner {
    margin-left: -4vmin;
  }
}


@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (orientation: portrait)
  and (-webkit-min-device-pixel-ratio: 2) {


  .section-profile .row .col-md-9 .panel {
  position: absolute;
  top: 7vmin;
  left: -9vmin;
  width: 550px;
  background: white;
  border-radius: 3px;
  text-align: left;
  padding: 5vmin 5vmin 10vmin 10vmin;
  box-shadow: 0px 25px 42px rgba(0, 0, 0, 0.2);
  font-family: var(--Rubik);
  z-index: 1;
}




}
