
#login .container #login-row #login-column #login-box {
  margin-top: 120px;
  margin-bottom: 120px;
  max-width: 600px;
  height: 320px;
  border: 1px solid #9C9C9C;
  background-color: #EAEAEA;
}
#login .container #login-row #login-column #login-box #login-form {
  padding: 20px;
}
#login .container #login-row #login-column #login-box #login-form #register-link {
  margin-top: -85px;
}





.product-card .persist {
  z-index: 10;
}

.product-card .card-footer {
  background: white;
}


.product-price-badge {
  font-size: 45%;
  padding: .5em;
}


.badge{
  font-weight: 400;
  background-color: darkorange;


}

.badge-rounded{
  border-radius: 100px;
}


.newbadge{
  font-weight: 400;
  background-color: darkorange;


}


.custom_button{
  font-size: 11px;
  color: darkorange;
  text-decoration: none;
  letter-spacing: .2em;
  font-weight: 400;
  text-transform: uppercase;
}


.listings_img{
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 20px;
}

a.navbar-brand.ml-0:hover{
  color: antiquewhite;
}

